# Build artifacts
**/build/
**/target/
**/.gradle/
**/.gradle-dist/
**/bin/

# IDE/project files
/.vscode/
**/*.iml
.DS_Store

# Environment variables
**/.env

# Runtime logs and run dir
**/app.log
**/gradle-app.log
**/gradle-build.log
**/run/

