services:
  db:
    image: postgres:16
    container_name: kk_pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 2s
      retries: 30
    volumes:
      - kk_pg_data:/var/lib/postgresql/data

volumes:
  kk_pg_data:
